@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Lobster&display=swap');
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;

}
body::before{
    opacity: 0.5;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0px;
    position: absolute;
    background: url('trial.jpg') no-repeat center center;
}
h2{
    margin: 18px;
    padding: 10px;
    color: rgb(23, 23, 39);
    background-color: beige;
    text-align: center;
}
ul{
    font-family: 'Hachi Maru Pop', cursive;
    display: flex;
    background-color: rgb(124, 120, 120);
}
.logo{
    color: white;
    font-weight: bold;
    margin: 12px 29px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 50px;
}

li{
    
    list-style: none;
    padding: 7px;
    margin: 10px;
    background-color: #b3b3b3;
    border-radius: 15px
}
li a{
    text-decoration: none;
}

input, textarea{
    display: block;
    width: 70%;
    margin: 10px auto;
    padding: 5px;
    border: 2px solid black;
    border-radius: 7px;
    outline: none;
    text-align: center;
    font-family: 'Roboto Slab', serif;

}
.btn{
    margin: 4px auto;
    width: auto;
    display: block;
    padding: 5px 12px;
    background: #302d2d;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    outline: none;
}